[package]
name = "download"
version = "0.0.15"
authors = ["Azriel Hoh <azriel91@gmail.com>"]
edition = "2021"
description = "Peace framework file download example"
repository = "https://github.com/azriel91/peace"
license = "MIT OR Apache-2.0"
publish = false

[[bin]]
name = "download"
test = false

[lib]
doctest = false
test = false
crate-type = ["cdylib", "rlib"]

[lints.clippy]
result_large_err = "allow"

[dependencies]
peace_items = { path = "../../items", features = ["file_download"] }
thiserror = "2.0.17"
url = { version = "2.5.7", features = ["serde"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
peace = { workspace = true, default-features = false, features = ["cli"] }
clap = { version = "4.5.52", features = ["derive"] }
tokio = { version = "1.48.0", features = ["net", "time", "rt"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
peace = { workspace = true, default-features = false }
console_error_panic_hook = "0.1.7"
serde-wasm-bindgen = "0.6.5"
tokio = "1.48.0"
wasm-bindgen = "0.2.105"
wasm-bindgen-futures = "0.4.55"
js-sys = "0.3.82"
web-sys = "0.3.82"

[features]
default = []
error_reporting = ["peace/error_reporting", "peace_items/error_reporting"]
output_progress = ["peace/output_progress", "peace_items/output_progress"]
item_interactions = ["peace/item_interactions", "peace_items/item_interactions"]
item_state_example = ["peace/item_state_example", "peace_items/item_state_example"]
