[package]
name = "peace_rt"
description = "Runtime logic for the peace automation library."
documentation = "https://docs.rs/peace_rt/"
authors.workspace = true
version.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
readme.workspace = true
categories.workspace = true
keywords.workspace = true
license.workspace = true

[lib]
doctest = false
test = false

[dependencies]
cfg-if = { workspace = true }
futures = { workspace = true }
miette = { workspace = true, optional = true }
peace_cfg = { workspace = true }
peace_cmd = { workspace = true }
peace_params = { workspace = true }
peace_resources = { workspace = true }
peace_rt_model = { workspace = true }
peace_rt_model_core = { workspace = true }
serde = { workspace = true }
serde_yaml = { workspace = true }
tokio = { workspace = true, features = ["sync"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["fs", "io-util"] }
tokio-util = { workspace = true, features = ["io", "io-util"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
peace_rt_model_web = { workspace = true }
wasm-bindgen = { workspace = true, features = ["serde-serialize"] }
web-sys = { workspace = true, features = ["Storage", "Window"] }

[features]
default = []
error_reporting = ["dep:miette", "peace_rt_model/error_reporting"]
output_progress = [
    "peace_cfg/output_progress",
    "peace_cmd/output_progress",
    "peace_rt_model/output_progress",
    "peace_rt_model_core/output_progress",
]
