[package]
name = "peace_webi_output"
description = "Web interface output for the peace automation framework."
documentation = "https://docs.rs/peace_webi_output/"
version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true
categories.workspace = true
keywords.workspace = true
license.workspace = true

[lib]
doctest = true
test = false

[dependencies]
axum = { workspace = true }
cfg-if = { workspace = true }
futures = { workspace = true }
leptos = { workspace = true }
leptos_axum = { workspace = true }
leptos_meta = { workspace = true }
leptos_router = { workspace = true }
peace_core = { workspace = true, optional = true }
peace_fmt = { workspace = true }
peace_rt_model_core = { workspace = true }
peace_value_traits = { workspace = true }
peace_webi_components = { workspace = true }
peace_webi_model = { workspace = true }
tokio = { workspace = true, features = ["net"] }
tower-http = { workspace = true, features = ["fs"] }

[features]
default = []
output_progress = [
    "dep:peace_core",
    "peace_core/output_progress",
    "peace_rt_model_core/output_progress",
]
ssr = [
    "leptos/ssr",
    "leptos_meta/ssr",
    "leptos_router/ssr",
    "peace_webi_components/ssr",
]
