[package]
name = "peace_rt_model_web"
description = "Web support for the peace automation framework."
documentation = "https://docs.rs/peace_web_support/"
authors.workspace = true
version.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
readme.workspace = true
categories.workspace = true
keywords.workspace = true
license.workspace = true

[lib]
doctest = false
test = false

[dependencies]
base64 = { workspace = true }
miette = { workspace = true, optional = true }
peace_core = { workspace = true }
peace_resources = { workspace = true }
peace_rt_model_core = { workspace = true }
serde = { workspace = true }
serde-wasm-bindgen = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
thiserror = { workspace = true }
wasm-bindgen = { workspace = true }
web-sys = { workspace = true, features = ["Storage", "Window"] }

[features]
default = []
error_reporting = ["dep:miette", "peace_rt_model_core/error_reporting"]
output_progress = []
