.terminal {
    padding: 0.6em;
    background-color: #111111;
    border-radius: 4px;
    color: #dddddd;
    font-size: 0.8em;
    overflow-x: scroll;
    overflow-y: scroll;
    text-overflow: ellipsis;
    max-height: 15.0em;
}

/* prompt arrow */
.terminal .shell {
    color: #22eeaa;
    font-weight: bold;
}

.terminal .caret {
    background-color: #dddddd;
}
