on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

name: Book

jobs:
  publish_book:
    name: Peace Book
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: "Install `wasm-pack`"
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          # specify exact version to work around
          # <https://github.com/jetli/wasm-pack-action/issues/23>
          version: "v0.13.1"

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v2

      - name: mdbook-graphviz cache restore
        id: mdbook_graphviz_cache_restore
        uses: actions/cache/restore@v4
        with:
          path: ~/.cargo/bin/mdbook-graphviz
          key: ${{ runner.os }}-mdbook-graphviz

      - run: cargo install --locked mdbook-graphviz
        if: steps.mdbook_graphviz_cache_restore.outputs.cache-hit != 'true'

      - name: mdbook-graphviz cache save
        id: mdbook_graphviz_cache_save
        uses: actions/cache/save@v4
        if: always() && steps.mdbook_graphviz_cache_restore.outputs.cache-hit != 'true'
        with:
          path: ~/.cargo/bin/mdbook-graphviz
          key: ${{ runner.os }}-mdbook-graphviz

      # When updating this, also update ci.yml
      - name: "Example: download (WASM)"
        # The following no longer works, because the AWS SDK uses tokio with UDP features enabled:
        # for example in $(ls examples)
        run: |
          for example in download
          do wasm-pack build \
            --target web \
            --out-dir "../../doc/src/examples/pkg" \
            --release \
            "examples/${example}" \
            --features 'error_reporting'
          done

      - name: mdbook cache restore
        id: mdbook_cache_restore
        uses: actions/cache/restore@v4
        with:
          path: ~/.cargo/bin/mdbook
          key: ${{ runner.os }}-mdbook

      # use custom version of mdbook for now
      - name: Install `mdbook`
        run: cargo install mdbook --git https://github.com/azriel91/mdBook.git --branch improvement/code-blocks
        if: steps.mdbook_cache_restore.outputs.cache-hit != 'true'

      - name: mdbook cache save
        id: mdbook_cache_save
        uses: actions/cache/save@v4
        if: always() && steps.mdbook_cache_restore.outputs.cache-hit != 'true'
        with:
          path: ~/.cargo/bin/mdbook
          key: ${{ runner.os }}-mdbook

      - run: mdbook build doc

      # Note: `test` doesn't work with the examples' inlined HTML.
      # - run: mdbook test doc

      # We *do* want to include the built wasm files.
      - run: rm -f ./doc/book/examples/pkg/.gitignore

      - name: Publish to `gh-pages`
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/book
          force_orphan: true
